services:
  ssserver:
    image: "soulike/shadowsocks-docker:latest"
    ports:
      - "2376:3000"
      - "989:3001"
      - "20:3002"
    volumes:
      - type: bind
        source: /etc/shadowsocks-rust/config.docker.json
        target: /etc/shadowsocks-rust/config.json
      - type: bind
        source: /home/soulike/ssl
        target: /ssl
    networks:
      - ssserver-network
networks:
  ssserver-network:
   enable_ipv6: true
   ipam:
     config:
      - subnet: fd32:1816:5c7c::/64