services:
  ssserver:
    image: "soulike/shadowsocks-docker:latest"
    ports:
      - "2376:1"
      - "989:2"
      - "20:3"
    volumes:
      - type: bind
        source: /etc/shadowsocks-rust/config.json
        target: /etc/shadowsocks-rust/config.json
      - type: bind
        source: $HOME/ssl
        target: /ssl
